@import url(//fonts.googleapis.com/css?family=Pacifico);

* {
  margin: 0;
  padding: 0;
}

.container{
	display:flex;
	align-items: center;
	justify-content: center;
	height:100vh;
	background-size: cover;
	background-position: center center;
	background-image:url("https://wallpaperaccess.com/full/653166.jpg");
}

.text b {
	font: 400  900% 'Pacifico';
	letter-spacing: -5px;
	color: #fee;
	text-shadow:0 0px 10px, 0 0 1em #560a86,
				0 0 0.5em #560a86, 0 0 0.1em #560a86,
				0 10px 3px #333;
}

.text b span{
	animation: flicker linear infinite 2s;
}

.text b object{
	animation: flicker linear infinite 1.5s;
}

@keyframes flicker{
	75%{
		color: inherit;
		text-shadow: inherit;
	}
	76%{
		color: #222;
	}
	77%{
		color: inherit;
		text-shadow:inherit;
	}
	78%{
		color: inherit;
		text-shadow:inherit;
	}
	79%{
		color:#222;
		text-shadow:none;
	}
	80%{
		color: inherit;
		text-shadow: inherit;
	}
	90%{
		color: #222;
		text-shadow:none;
	}
	90.5%{
		color:inherit;
		text-shadow:inherit;
	}
}

















